<div class="min-h-full w-full flex flex-col justify-center py-6">
  <div class="flex justify-center items-center mx-auto w-full">

    <!-- Form -->
    <form #reactiveForm
          [formGroup]="formGroup" 
          (ngSubmit)="confirm()" 
          class="w-full max-w-md p-2 
                 origin-center duration-300 ease-out"
          style="transform: scale(0);"
          [style.transform]="mounted() ? 'scale(1)' : 'scale(0)'"
          novalidate>
    
      <!-- Title -->
      <h1 class="flex justify-center items-center mb-8">
        <fa-icon [icon]="icon.faCircleQuestion" class="fa-2xl me-3"></fa-icon>
        <span class="truncate capitalize-first text-small-caps text-2xl tracking-wider">
          {{ lang.data['password_frogot'] || 'forgot password' }}
        </span>
      </h1>

      <!-- Email -->
      <div class="mb-8">
        <label for="email" 
               class="form-label">
          <div class="flex items-center">
            <fa-icon [icon]="icon.faStar" 
                     class="me-1 text-red-500 text-[6px]"></fa-icon>
            <fa-icon [icon]="icon.faEnvelope" class="me-1"></fa-icon>
            <span class="truncate capitalize-first">
              {{ lang.data['email'] || 'email' }}:
            </span>
          </div> 
        </label>
        <div class="relative flex items-center">
          <input #emailInput
                 id="email"
                 type="email"
                 formControlName="email"
                 autocomplete="email"
                 spellcheck="false"
                 class="form-control"
                 placeholder="{{ lang.data['email'] || 'email' }}"
                 maxlength="253" />
          @if (f.email.value) {
            <button type="button"
                    tabindex="-1"
                    (click)="clear('email')"
                    class="form-btn-clear right-9">
              <fa-icon [icon]="icon.faXmark" class="fa-2xs"></fa-icon>
            </button>
          }
          <fa-icon [icon]="icon.faCheck"
                   [ngClass]="{'invisible': !f.email.valid}"
                   class="ms-2 text-green-700"></fa-icon>
        </div>
      </div>
    
      <!-- Test code -->
      <div class="mb-10">
        <div class="flex flex-row mb-0">
          <div class="text-sm font-medium w-auto">
            <div class="flex items-center
                        justify-start lg:justify-end">
              <fa-icon [icon]="icon.faHandPointRight" 
                       class="fa-2xl"></fa-icon>:
            </div>
          </div>
          <div class="">
            <div class="flex items-center text-xl ps-3
                        font-bold tracking-wider">
              {{ testCode }}
            </div>
          </div>
        </div>
        <div class="mb-1">
          <div class="flex flex-col mb-0">
            <label for="code"
                   class="form-label">
              <div class="flex items-center me-3 mb-1 
                          justify-start">
                <fa-icon [icon]="icon.faStar" 
                         class="me-1 text-red-500 text-[6px]"></fa-icon>
                <fa-icon [icon]="icon.faRobot" class="me-1"></fa-icon>
                <span class="truncate capitalize-first">
                  {{ lang.data['code'] || 'code' }}:
                </span>
              </div>
            </label>
            <div class="flex items-center w-full">
              <div class="flex items-center w-full">
                <div class="relative flex">
                  <input type="text"
                         id="code"
                         formControlName="code"
                         class="form-control form-control-code"
                         spellcheck="false"
                         autocomplete="off" 
                         maxlength="6">
                  @if (f.code.value) {
                    <button type="button"
                            tabindex="-1"
                            (click)="clear('code')"
                            class="form-btn-clear right-12">
                      <fa-icon [icon]="icon.faXmark" class="fa-2xs"></fa-icon>
                    </button>
                  }
                  <span class="form-btn-refresh-code"
                        (click)="getTestCode()">
                    <fa-icon [icon]="icon.faArrowsRotate" class="fa-xs"></fa-icon>
                  </span>
                </div>
                <fa-icon [icon]="icon.faCheck"
                         [ngClass]="{'invisible': !f.code.valid}"
                         class="ms-7 text-green-700"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="text-center">

        <!-- Submit -->
        <button type="submit"
                [disabled]="formGroup.invalid"
                class="form-btn-primary">
          <div class="flex items-center justify-center">
            <fa-icon [icon]="icon.faCloudArrowUp" class="fa-lg me-1"></fa-icon>
            <span class="truncate capitalize-first">
              {{ lang.data['send'] || 'send' }}
            </span>
          </div>
        </button>

        <!-- Cancel -->
        <button type="button"
                (click)="onCancel()"
                class="form-btn-secondary">
          <div class="flex items-center justify-center">
            <fa-icon [icon]="icon.faCircleXmark" class="fa-lg me-1"></fa-icon>
            <span class="truncate capitalize-first">
              {{ lang.data['cancel'] || 'cancel' }}
            </span>
          </div>
        </button>

        <!-- Login -->
        <div class="mt-4 inline-block w-auto">
          <a routerLink="/login"
             class="form-btn-link">
            <div class="flex items-center justify-center">
              <fa-icon [icon]="icon.faRightToBracket" 
                        class="fa-lg me-1"></fa-icon>
              <span class="truncate capitalize-first text-small-caps">
                {{ lang.data['login'] || 'login' }}
              </span>
            </div>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
