<div class="min-h-full w-full flex flex-col justify-center py-6">
  <div class="flex justify-center items-center mx-auto w-full max-w-8xl">

    <!-- Form -->
    <form #reactiveForm
          [formGroup]="formGroup"
          (ngSubmit)="confirm()"
          class="w-full max-w-8xl p-2
                 origin-center duration-300 ease-out"
          style="transform: scale(0);"
          [style.transform]="mounted() ? 'scale(1)' : 'scale(0)'"
          novalidate>

      <!-- Title -->
      <h1 class="flex justify-center items-center mb-5">
        <fa-icon [icon]="icon.faUserPlus" class="fa-2xl me-3"></fa-icon>
        <span class="truncate capitalize-first text-small-caps text-3xl tracking-wider">
          {{ lang.data['registration'] || 'registration' }}
        </span>
      </h1>

      <!-- Grid -->
      <div class="grid grid-cols-1 sm:grid-cols-2 px-2 
                  lg:mx-0 xl:px-20 2xl:px-40">

        <!-- Form group 1 -->
        <div class="px-5">

          <!-- Name label -->
          <div class="mb-1">
            <div class="flex flex-col lg:flex-row lg:items-center lg:space-x-4">
              <div class="hidden lg:block lg:w-2/6"></div>
              <div class="lg:w-4/6">
                <div class="flex w-full items-center">
                  <fa-icon [icon]="icon.faUser" class="me-1 fa-md"></fa-icon>
                  <span class="truncate capitalize-first text-md 
                               text-gray-900 dark:text-white">
                    {{ lang.data['name'] || 'name' }}:
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Name components -->
          <div class="mb-3">
            @for (key of nameKeys; track key) {
              <div class="flex flex-col lg:flex-row lg:items-center lg:space-x-4 mb-1">
                <label [for]="`${key}_name`"
                       class="form-label form-label-block-inline">
                  <div class="flex items-center justify-start lg:justify-end">
                    @if (['first','last'].includes(key)) {
                      <fa-icon [icon]="icon.faStar"
                               class="me-1 text-red-500 text-[6px]"></fa-icon>
                    }
                    <span class="truncate capitalize-first 
                                 text-gray-900 dark:text-white">
                      {{ lang.data[`${key}_name`] }}:
                    </span>
                  </div>
                </label>
                <div class="mt-1 lg:mt-0 lg:w-4/6">
                  <div class="flex items-center">
                    <div class="relative w-full">
                      <input type="text"
                             [formControlName]="`${key}_name`"
                             [id]="`${key}_name`"
                             data-fc="`${key}_name`"
                             class="form-control"
                             [class.form-control-short]="['prefix','postfix'].includes(key)"
                             autocomplete="off"
                             spellcheck="false"
                             [attr.maxlength]="['prefix','postfix'].includes(key)?'20':'100'"
                             [placeholder]="lang.data[`${key}_name`]"/>
                      @if (!isEmpty(key)) {
                        <button type="button"
                                tabindex="-1"
                                (click)="clear(key)"
                                class="form-btn-clear right-2"
                                [ngClass]="{'right-2': !['prefix','postfix'].includes(key), 
                                            'left-[136px]': ['prefix','postfix'].includes(key)}">
                          <fa-icon [icon]="icon.faXmark" class="fa-2xs"></fa-icon>
                        </button>
                      }
                    </div>
                    <fa-icon [icon]="icon.faCheck"
                             class="ms-2 text-green-700"
                             [ngClass]="{
                                'opacity-0': !isNameRequired(key),
                                'invisible': isNameRequired(key) && !isNameValid(key)
                             }">
                    </fa-icon>
                  </div>
                </div>
              </div>
            }
          </div>

          <!-- Born -->
          <div class="mb-1">
            <div class="flex flex-col lg:flex-row lg:items-center lg:space-x-4 mb-1">
              <label for="born"
                     class="form-label form-label-block-inline">
                <div class="flex items-center justify-start lg:justify-end">
                  <fa-icon [icon]="icon.faStar"
                           class="me-1 text-red-500 text-[6px]"></fa-icon>
                  <fa-icon [icon]="icon.faCalendarDays" class="me-1"></fa-icon>
                  <span class="truncate capitalize-first 
                               text-gray-900 dark:text-white">
                    {{ lang.data['born'] || 'born' }}:
                  </span>
                </div>
              </label>
              <div class="mt-1 lg:mt-0 lg:w-4/6">
                <div class="flex items-center">
                  <div class="relative w-full">
                    <input type="date"
                           formControlName="born"
                           [max]="getDate(-18)"
                           id="born"
                           class="form-control dark:[color-scheme:dark]"
                           autocomplete="off" />
                    @if (f.born.value) {
                      <button type="button"
                              (click)="clear('born')"
                              tabindex="-1"
                              class="form-btn-clear right-2">
                        <fa-icon [icon]="icon.faXmark" class="fa-2xs"></fa-icon>
                      </button>
                    }
                  </div>
                  <fa-icon [icon]="icon.faCheck"
                           [ngClass]="{'invisible': !f.born.valid}"
                           class="ms-2 text-green-700"></fa-icon>
                </div>
              </div>
            </div>
          </div>

          <!-- Born rule -->
          <div class="mb-3">
            <div class="flex flex-col lg:flex-row lg:items-center lg:space-x-4">
              <div class="hidden lg:block lg:w-2/6"></div>
              <div class="lg:w-4/6 text-[11px]">
                {{ lang.data['born_rule'] }}
              </div>
            </div>
          </div>

          <!-- Gender -->
          <div class="mb-3">
            <div class="flex lg:flex-row items-center lg:space-x-4 mb-1 h-10">
              <div class="block text-sm font-medium lg:w-2/6 lg:text-right">
                <div class="flex items-center justify-start lg:justify-end">
                  <fa-icon [icon]="icon.faStar"
                           class="me-1 text-red-500 text-[6px]"></fa-icon>
                  <fa-icon [icon]="icon.faVenusMars" class="me-1"></fa-icon>
                  <span class="truncate capitalize-first text-gray-900 dark:text-white">
                    {{ lang.data['gender'] || 'gender' }}:
                  </span>
                </div>
              </div>
              <div class="ms-5 lg:ms-0 lg:w-4/6">
                <div class="flex flex-row w-full items-center">
                  <input id="female"
                         type="radio"
                         name="gender"
                         formControlName="gender"
                         [value]="'F'"
                         class="form-control-radio">
                  <label for="female"
                         class="form-label-radio">
                    {{ lang.data['woman'] || 'woman' }}
                  </label>
                  <input id="male"
                         type="radio"
                         name="gender"
                         formControlName="gender"
                         [value]="'M'"
                         class="form-control-radio">
                  <label for="male"
                         class="form-label-radio">
                    {{ lang.data['man'] || 'man' }}
                  </label>
                  <fa-icon [icon]="icon.faCheck"
                           [ngClass]="{'invisible': !f.gender.valid}"
                           class="ms-5 text-green-700">
                  </fa-icon>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Form group 2 -->
        <div class="px-5">

          <!-- Email -->
          <div class="mb-1 mt-6">
            <div class="flex flex-col lg:flex-row lg:items-center lg:space-x-4 mb-1">
              <label for="email"
                     class="form-label form-label-block-inline">
                <div class="flex items-center justify-start lg:justify-end">
                  <fa-icon [icon]="icon.faStar"
                           class="me-1 text-red-500 text-[6px]"></fa-icon>
                  <fa-icon [icon]="icon.faEnvelope" class="me-1"></fa-icon>
                  <span class="truncate capitalize-first 
                               text-gray-900 dark:text-white">
                    {{ lang.data['email'] || 'email' }}:
                  </span>
                </div>
              </label>
              <div class="mt-1 lg:mt-0 lg:w-4/6">
                <div class="flex items-center">
                  <div class="relative w-full">
                    <input type="email"
                           formControlName="email"
                           id="email"
                           class="form-control"
                           autocomplete="off"
                           spellcheck="false"
                           maxlength="253"
                           [placeholder]="lang.data['email'] || 'email'"/>
                    @if (f.email.value) {
                      <button type="button"
                              tabindex="-1"
                              (click)="clear('email')"
                              class="form-btn-clear right-2">
                        <fa-icon [icon]="icon.faXmark" class="fa-2xs"></fa-icon>
                      </button>
                    }
                  </div>
                  <fa-icon [icon]="icon.faCheck"
                           [ngClass]="{'invisible': !f.email.valid}"
                           class="ms-2 text-green-700">
                  </fa-icon>
                </div>
              </div>
            </div>
          </div>

          <!-- Email confirm -->
          <div class="mb-5">
            <div class="flex flex-col lg:flex-row lg:items-center lg:space-x-4 mb-1">
              <label for="email_confirm"
                     class="form-label form-label-block-inline">
                <div class="flex items-center justify-start lg:justify-end">
                  <fa-icon [icon]="icon.faStar"
                           class="me-1 text-red-500 text-[6px]"></fa-icon>
                  <fa-icon [icon]="icon.faEnvelopeCircleCheck" class="me-1"></fa-icon>
                  <span class="truncate capitalize-first
                               text-gray-900 dark:text-white">
                    {{ lang.data['email_confirm'] || 'email confirm' }}:
                  </span>
                </div>
              </label>
              <div class="mt-1 lg:mt-0 lg:w-4/6">
                <div class="flex items-center">
                  <div class="relative w-full">
                    <input type="email"
                           formControlName="email_confirm"
                           id="email_confirm"
                           class="form-control"
                           autocomplete="off"
                           spellcheck="false"
                           maxlength="253"
                           [placeholder]="lang.data['email_confirm']||'email confirm'"/>
                    @if (f.email_confirm.value) {
                      <button type="button"
                              tabindex="-1"
                              (click)="clear('email_confirm')"
                              class="form-btn-clear right-2">
                        <fa-icon [icon]="icon.faXmark" class="fa-2xs"></fa-icon>
                      </button>
                    }
                  </div>
                  <fa-icon [icon]="icon.faCheck"
                           [ngClass]="{'invisible': !f.email_confirm.valid}"
                           class="ms-2 text-green-700">
                  </fa-icon>
                </div>
              </div>
            </div>
          </div>

          <!-- Password -->
          <div class="mb-1">
            <div class="flex flex-col lg:flex-row lg:items-center lg:space-x-4 mb-1">
              <label for="password"
                     class="form-label form-label-block-inline">
                <div class="flex items-center justify-start lg:justify-end">
                  <fa-icon [icon]="icon.faStar"
                           class="me-1 text-red-500 text-[6px]"></fa-icon>
                  <fa-icon [icon]="icon.faKey" class="me-1"></fa-icon>
                  <span class="truncate capitalize-first text-gray-900 dark:text-white">
                    {{ lang.data['password'] || 'password' }}:
                  </span>
                </div>
              </label>
              <div class="mt-1 lg:mt-0 lg:w-4/6">
                <div class="flex items-center">
                  <div class="relative w-full">
                    <input [type]="f.showPassword.value ? 'text' : 'password'"
                           formControlName="password"
                           id="password"
                           maxlength="20"
                           class="form-control"
                           autocomplete="off"
                           spellcheck="false"
                           [placeholder]="lang.data['password'] || 'password'"/>
                    @if (f.password.value) {
                      <button type="button"
                              tabindex="-1"
                              (click)="clear('password')"
                              class="form-btn-clear right-2">
                        <fa-icon [icon]="icon.faXmark" class="fa-2xs"></fa-icon>
                      </button>
                    }
                  </div>
                  <fa-icon [icon]="icon.faCheck"
                           [ngClass]="{'invisible': !f.password.valid}"
                           class="ms-2 text-green-700">
                  </fa-icon>
                </div>
              </div>
            </div>
          </div>

          <!-- Password rule -->
          <div class="mb-0">
            <div class="flex lg:flex-row items-center lg:space-x-4 mb-2">
              <div class="block text-sm font-medium lg:w-2/6 lg:text-right"></div>
              <div class="lg:w-4/6 text-[10px] wrap-break-word">
                {{ lang.data['password_rule'] }}
              </div>
            </div>
          </div>

          <!-- Password confirm -->
          <div class="mb-0">
            <div class="flex flex-col lg:flex-row lg:items-center lg:space-x-4 mb-0">
              <label for="password_confirm"
                     class="form-label form-label-block-inline">
                <div class="flex items-center justify-start lg:justify-end">
                  <fa-icon [icon]="icon.faStar"
                           class="me-1 text-red-500 text-[6px]"></fa-icon>
                  <fa-icon [icon]="icon.faUnlockKeyhole" class="me-1"></fa-icon>
                  <span class="truncate capitalize-first 
                               text-gray-900 dark:text-white">
                    {{ lang.data['password_confirm'] || 'password confirm' }}:
                  </span>
                </div>
              </label>
              <div class="mt-1 lg:mt-0 lg:w-4/6">
                <div class="flex items-center">
                  <div class="relative w-full">
                    <input [type]="f.showPassword.value ? 'text' : 'password'"
                           formControlName="password_confirm"
                           id="password_confirm"
                           maxlength="20"
                           class="form-control"
                           autocomplete="off"
                           spellcheck="false"
                           [placeholder]="lang.data['password_confirm'] || 'password confirm'"/>
                    @if (f.password_confirm.value) {
                      <button type="button"
                              tabindex="-1"
                              (click)="clear('password_confirm')"
                              class="form-btn-clear right-2">
                        <fa-icon [icon]="icon.faXmark" class="fa-2xs"></fa-icon>
                      </button>
                    }
                  </div>
                  <fa-icon [icon]="icon.faCheck"
                           [ngClass]="{'invisible': !f.password_confirm.valid}"
                           class="ms-2 text-green-700">
                  </fa-icon>
                </div>
              </div>
            </div>
          </div>

          <!-- Show password -->
          <div class="mb-5">
            <div class="flex lg:flex-row items-center lg:space-x-4 mb-2">
              <div class="block text-sm font-medium lg:w-2/6 lg:text-right"></div>
              <div class="lg:w-4/6">
                <label for="showPassword"
                       class="form-label-inline">
                  <input id="showPassword"
                         type="checkbox"
                         formControlName="showPassword"
                         class="form-control-checkbox"
                         tabindex="-1">
                  <div class="flex items-center">
                    <fa-icon [icon]="icon.faEye" class="fa-sm mx-2"></fa-icon>
                    <span class="text-sm">
                      {{ lang.data['password_show'] || 'show password' }}
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>

          <!-- Test code -->
          <div class="mb-5">
            <div class="flex flex-row lg:items-center lg:space-x-4 mb-1">
              <div class="text-sm font-medium 
                          w-auto lg:w-2/6 lg:text-right">
                <div class="flex items-center
                            justify-start lg:justify-end">
                  <fa-icon [icon]="icon.faHandPointRight"
                           class="fa-2xl"></fa-icon>:
                </div>
              </div>
              <div class="lg:w-4/6">
                <div class="flex items-center text-xl ps-3 lg:ps-0
                            font-bold tracking-wider">
                  {{ testCode }}
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="flex flex-col lg:flex-row lg:items-center lg:space-x-4 mb-0">
                <label for="code"
                       class="form-label form-label-block-inline">
                  <div class="flex items-center me-3 lg:me-0 mb-1 lg:mb-0 
                              justify-start lg:justify-end">
                    <fa-icon [icon]="icon.faStar"
                             class="me-1 text-red-500 text-[6px]"></fa-icon>
                    <fa-icon [icon]="icon.faRobot" class="me-1"></fa-icon>
                    <span class="truncate capitalize-first 
                                 text-gray-900 dark:text-white">
                      {{ lang.data['code'] || 'code' }}:
                    </span>
                  </div>
                </label>
                <div class="flex items-center w-full lg:w-4/6">
                  <div class="flex items-center w-full">
                    <div class="relative flex">
                      <input type="text"
                             id="code"
                             formControlName="code"
                             class="form-control form-control-code"
                             spellcheck="false"
                             autocomplete="off"
                             maxlength="6">
                      @if (f.code.value) {
                        <button type="button"
                                tabindex="-1"
                                (click)="clear('code')"
                                class="form-btn-clear right-12">
                          <fa-icon [icon]="icon.faXmark" class="fa-2xs"></fa-icon>
                        </button>
                      }
                      <span class="form-btn-refresh-code"
                            (click)="getTestCode()">
                        <fa-icon [icon]="icon.faArrowsRotate" class="fa-xs"></fa-icon>
                      </span>
                    </div>
                    <fa-icon [icon]="icon.faCheck"
                             [ngClass]="{'invisible': !f.code.valid}"
                             class="ms-7 text-green-700"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="text-center">

        <!-- Submit -->
        <button type="submit"
                class="form-btn-primary"
                [disabled]="formGroup.invalid">
          <div class="flex items-center justify-center">
            <fa-icon [icon]="icon.faUserPlus" class="fa-lg me-1"></fa-icon>
            <span class="capitalize">
              {{ lang.data['registration'] || 'registration' }}
            </span>
          </div>
        </button>

        <!-- Cancel -->
        <button type="button"
                (click)="onCancel()"
                class="form-btn-secondary">
          <div class="flex items-center justify-center">
            <fa-icon [icon]="icon.faCircleXmark" class="fa-lg me-1"></fa-icon>
            <span class="capitalize">
              {{ lang.data['cancel'] || 'cancel' }}
            </span>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>
