<div class="min-h-full w-screen flex flex-col justify-center">
  <div class="flex justify-center items-center mx-auto w-screen">
    
    <div class="origin-center duration-300 ease-out transition-transform"
         style="transform: scale(0);"
         [style.transform]="mounted() ? 'scale(1)' : 'scale(0)'">

      <!-- Panel 1 -->
      <div class="h-[42vh] sm:h-[46vh] w-[91vw] flex flex-col shadow-sm
                  border border-gray-300 dark:border-gray-600">

        <!-- Panel header -->
        <div class="flex-none border-b text-lg
                    border-gray-300 dark:border-gray-600">
          <div class="px-4 py-1 text-white"
               [ngClass]="{'bg-green-800': isActive(),
                           'bg-gray-800': !isActive()}">
            <div class="flex items-center justify-between gap-2">

              <!-- Title -->
              <div class="flex items-center gap-1">
                <fa-icon [icon]="icon.faHandshake"
                          class="fa-lg"></fa-icon>
                <span class="text-small-caps
                            truncate capitalize-first inline-block">
                  {{ lang.data['contracts'] || 'contracts' }}
                </span>
              </div>

              <!-- Commands header -->
              <ul class="flex items-center">

                @for (c of getCommands('header'); track c.id) {
                  <li class="py-1 px-2 cursor-pointer rounded"
                      [class.opacity-50]="isContractCmdEnabled(c.id)"
                      [class.pointer-events-none]="isContractCmdEnabled(c.id)"
                      (click)="headerEvents(c.id)"
                      [class.hover:bg-gray-700]="!c?.deanger"
                      [ngClass]="{ 'hover:bg-red-800/60': c?.deanger }">
                    <fa-icon [icon]="c.icon"
                              class="fa-sm"></fa-icon>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>

        <!-- Panel body -->
        <div class="flex-1 min-w-full min-h-0">

          <!-- Wrapper scrollable -->
          <div class="h-full w-full overflow-scroll">

            @if (isPageMode()) {

              <!-- Form -->
              <div class="flex h-full items-start lg:items-center justify-center">

                <form #reactiveForm1
                      [formGroup]="formGroup"
                      (ngSubmit)="confirm()"
                      class="w-full max-w-4xl p-5 lg:p-0"
                      novalidate>

                  <div class="flex items-center justify-center">
                  
                    <!-- Form group -->
                    <div class="px-5"> 
                      <span class="inline-block truncate capitalize-first">
                        {{ lang.data['under_development'] || 'under_development' }} 
                      </span>                   
                    </div>
                  </div>
                </form>
              </div>

            } @else {

              <!-- Table -->
              <table class="min-w-[90vw] text-sm table-fixed mx-auto
                            text-left rtl:text-right">
                <thead class="sticky top-0 z-10 border-b
                              border-gray-300 dark:border-gray-600
                              bg-gray-100 dark:bg-gray-800">
                  <tr>
                    @for (col of contractColumns; track col.key) {
                      <th scope="col" 
                          class="px-4 py-3 font-medium whitespace-nowrap
                                truncate capitalize-first">
                        {{ lang.data[col.labelKey] || col.labelKey }}
                      </th>
                    }
                  </tr>
                </thead>
                <tbody>
                @if (contracts().length) {
                  @for (row of contracts(); track $index) {
                    <tr class="bg-neutral-primary border-b
                              border-gray-300 dark:border-gray-600"
                        (click)="setContractRowPointer($index)"
                        (dblclick)="toggleOfView()"
                        [ngClass]="{'bg-green-500/10' : 
                                    contractRowPointer() === $index,
                                    'hover:bg-gray-500/10' : 
                                    contractRowPointer() !== $index}">
                      @for (col of contractColumns; track col.key) {
                        <td class="px-4 py-1 align-middle whitespace-nowrap">
                          @if (col.key === 'name') {
                            <div class="flex items-center gap-3 flex-nowrap">
                              <img [src]="getAvatarSrc(row)" alt=""
                                    class="h-8 w-8 rounded-full object-cover
                                          border border-gray-500/40"
                                    loading="lazy" />
                              <span class="truncate capitalize-first flex-nowrap">
                                {{ getContractCell(row, col.key) }}
                              </span>
                            </div>
                          } @else {
                            <span class="truncate capitalize-first">
                              {{ getContractCell(row, col.key) }}
                            </span>
                          }
                        </td>
                      }
                    </tr>
                  }
                } @else {
                  <tr class="bg-neutral-primary border-b 
                            border-gray-300 dark:border-gray-600">
                    <td class="text-center px-4 py-1 whitespace-nowrap" 
                        [attr.colspan]="contractColSpan">
                      {{ lang.data['empty'] || 'empty' }}
                    </td>
                  </tr>
                }
                </tbody>
              </table>
            }
          </div>
        </div>

        <!-- Panel footer -->
        <div class="flex-none border-t
                    border-gray-300 dark:border-gray-600
                    bg-gray-100 dark:bg-gray-800">
          <div class="px-4 py-2 font-medium flex items-center justify-between">

            <!-- Commands -->
            <div class="flex flex-col sm:flex-row items-center 
                        gap-2 sm:gap-10 mx-auto">

              <!-- Commands change position -->
              <ul class="flex justify-center items-center gap-0">
                @for (c of getCommands('pos'); track c.id) {
                  <li class="py-1 px-2 cursor-pointer rounded"
                      [class.opacity-50]="isContractCmdEnabled(c.id)"
                      [class.pointer-events-none]="isContractCmdEnabled(c.id)"
                      (click)="changeContractPosition(c.id)"
                      [class.hover:bg-gray-700]="!c?.deanger"
                      [ngClass]="{ 'hover:bg-red-800/60': c?.deanger }">
                    <fa-icon [icon]="c.icon"
                              class="fa-sm"></fa-icon>
                  </li>
                }
              </ul>
            
              <!-- Commands change data -->
              <ul class="flex justify-center items-center gap-0">

                @for (c of getCommands('data'); track c.id) {
                  <li class="py-1 px-2 cursor-pointer rounded"
                      [class.opacity-50]="isContractCmdEnabled(c.id)"
                      [class.pointer-events-none]="isContractCmdEnabled(c.id)"
                      (click)="changeData(c.id)"
                      [class.hover:bg-gray-700]="!c?.deanger"
                      [ngClass]="{ 'hover:bg-red-800/60': c?.deanger }">
                    <fa-icon [icon]="c.icon"
                              class="fa-sm"></fa-icon>
                  </li>
                } 
              </ul>
            </div>

            <!-- Position / Number of records -->
            <div class="flex items-center">
                {{ contractRowPointer() + 1 }} / {{ contracts().length }}
            </div>
          </div>
        </div>
      </div>
      
      <!-- Panel 2 -->
      <div class="h-[30vh] sm:h-[34vh] w-[91vw] flex flex-col shadow-sm
                  border border-gray-300 dark:border-gray-600">

        <!-- Panel header -->
        <div class="flex-none border-b text-lg
                    border-gray-300 dark:border-gray-600">
          <div class="px-4 py-1 text-white"
               [ngClass]="{'bg-green-800': false,
                           'bg-gray-700': true}">
            <div class="flex items-center justify-between gap-2">

              <!-- Title -->
              <div class="flex items-center gap-1">
                <fa-icon [icon]="icon.faPaperclip"
                          class="fa-lg"></fa-icon>
                <span class="text-small-caps
                             truncate capitalize-first inline-block">
                  {{ lang.data['attachments'] || 'attachments' }}
                </span>
              </div>

              <!-- Commands header -->
              <ul class="flex items-center">

                @for (c of getCommands('header'); track c.id) {
                  <li class="py-1 px-2 cursor-pointer rounded"
                      [class.opacity-50]="isContractCmdEnabled(c.id)"
                      [class.pointer-events-none]="isContractCmdEnabled(c.id)"
                      (click)="headerEvents(c.id)"
                      [class.hover:bg-gray-700]="!c?.deanger"
                      [ngClass]="{ 'hover:bg-red-800/60': c?.deanger }">
                    <fa-icon [icon]="c.icon"
                              class="fa-sm"></fa-icon>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>

        <!-- Panel body -->
        <div class="flex-1 min-w-full min-h-0">

          <!-- Wrapper scrollable -->
          <div class="h-full w-full overflow-scroll">

            @if (isPageMode()) {

              <!-- Form -->
              <div class="flex h-full items-start lg:items-center justify-center">

                <form #reactiveForm2
                      [formGroup]="formGroup"
                      (ngSubmit)="confirm()"
                      class="w-full max-w-4xl p-5 lg:p-0"
                      novalidate>

                  <div class="flex items-center justify-center">
                  
                    <!-- Form group -->
                    <div class="px-5"> 
                      <span class="inline-block truncate capitalize-first">
                        {{ lang.data['under_development'] || 'under_development' }} 
                      </span>                   
                    </div>
                  </div>
                </form>
              </div>

            } @else {

              <!-- Table -->
              <table class="min-w-[90vw] text-sm table-fixed mx-auto
                            text-left rtl:text-right">
                <thead class="sticky top-0 z-10 border-b
                              border-gray-300 dark:border-gray-600
                              bg-gray-100 dark:bg-gray-800">
                  <tr>
                    @for (col of contractAttachmentColumns; track col.key) {
                      <th scope="col"
                          class="px-4 py-3 font-medium whitespace-nowrap
                                truncate capitalize-first">
                        {{ lang.data[col.labelKey] || col.labelKey }}
                      </th>
                    }
                  </tr>
                </thead>
                <tbody>
                @if (attachments().length) {
                  @for (row of attachments(); track $index) {
                    <tr class="bg-neutral-primary border-b
                              border-gray-300 dark:border-gray-600"
                        (click)="setContractAttachmentRowPointer($index)"
                        [ngClass]="{'bg-green-500/10' :
                                    contractAttachmentRowPointer() === $index,
                                    'hover:bg-gray-500/10' :
                                    contractAttachmentRowPointer() !== $index}">
                      @for (col of contractAttachmentColumns; track col.key) {
                        <td class="px-4 py-1 align-middle whitespace-nowrap">
                          <span class="truncate capitalize-first">
                            {{ getContractAttachmentCell(row, col.key) }}
                          </span>
                        </td>
                      }
                    </tr>
                  }
                } @else {
                  <tr class="bg-neutral-primary border-b 
                            border-gray-300 dark:border-gray-600">
                    <td class="text-center px-4 py-1 whitespace-nowrap" 
                        [attr.colspan]="contractAttachmentColSpan">
                      {{ lang.data['empty'] || 'empty' }}
                    </td>
                  </tr>
                }
                </tbody>
              </table>
            }
          </div>
        </div>

        <!-- Panel footer -->
        <div class="flex-none border-t
                    border-gray-300 dark:border-gray-600
                    bg-gray-100 dark:bg-gray-800">
          <div class="px-4 py-2 font-medium flex items-center justify-between">

            <!-- Commands -->
            <div class="flex flex-col sm:flex-row items-center 
                        gap-2 sm:gap-10 mx-auto">

              <!-- Commands change position -->
              <ul class="flex justify-center items-center gap-0">
                @for (c of getCommands('pos'); track c.id) {
                  <li class="py-1 px-2 cursor-pointer rounded"
                      [class.opacity-50]="isContractAttachmentCmdEnabled(c.id)"
                      [class.pointer-events-none]="isContractAttachmentCmdEnabled(c.id)"
                      (click)="changeContractAttachmentPosition(c.id)"
                      [class.hover:bg-gray-700]="!c?.deanger"
                      [ngClass]="{ 'hover:bg-red-800/60': c?.deanger }">
                    <fa-icon [icon]="c.icon"
                              class="fa-sm"></fa-icon>
                  </li>
                }
              </ul>

              <!-- Commands change data -->
              <ul class="flex justify-center items-center gap-0">
                @for (c of getCommands('data'); track c.id) {
                  <li class="py-1 px-2 cursor-pointer rounded"
                      [class.opacity-50]="isContractAttachmentCmdEnabled(c.id)"
                      [class.pointer-events-none]="isContractAttachmentCmdEnabled(c.id)"
                      (click)="changeData(c.id)"
                      [class.hover:bg-gray-700]="!c?.deanger"
                      [ngClass]="{ 'hover:bg-red-800/60': c?.deanger }">
                    <fa-icon [icon]="c.icon"
                              class="fa-sm"></fa-icon>
                  </li>
                } 
              </ul>
            </div>

            <!-- Position / Number of records -->
            <div class="flex items-center">
                {{ contractAttachmentRowPointer() + 1 }} / {{ attachments().length }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
