<div class="min-h-full w-full flex flex-col justify-center py-6">
  <div class="flex justify-center items-center mx-auto w-full">

    <!-- Form -->
    <form #reactiveForm
          [formGroup]="formGroup" 
          (ngSubmit)="confirm()" 
          class="w-full max-w-md p-2 
                 origin-center duration-300 ease-out"
          style="transform: scale(0);"
          [style.transform]="mounted() ? 'scale(1)' : 'scale(0)'"
          novalidate>
    
      <!-- Title -->
      <h1 class="flex justify-center items-center mb-8">
        <fa-icon [icon]="icon.faKey" class="fa-2xl me-3"></fa-icon>
        <span class="truncate capitalize-first text-small-caps text-3xl tracking-wider">
          {{ lang.data['password_change'] || 'password change' }}
        </span>
      </h1>

      <!-- Password current -->
      <div class="mb-3">
        <label for="password_current" 
               class="form-label">
          <div class="flex items-center">
            <fa-icon [icon]="icon.faStar" 
                     class="me-1 text-red-500 text-[6px]"></fa-icon>
            <fa-icon [icon]="icon.faLock" class="me-1"></fa-icon>
            <span class="truncate capitalize-first">
              {{ lang.data['password_current'] || 'current password' }}:
            </span>
          </div>
        </label>
        <div class="relative flex items-center">
          <input #password_currentInput
                 id="password_current"
                 [type]="f.showPassword.value ? 'text' : 'password'"
                 formControlName="password_current"
                 autocomplete="current-password"
                 spellcheck="false"
                 class="form-control"
                 placeholder="{{ lang.data['password_current'] || 'current password' }}"
                 maxlength="20" />
          @if (f.password_current.value) {
            <button type="button"
                    tabindex="-1"
                    (click)="clear('password_current')"
                    class="form-btn-clear right-9">
              <fa-icon [icon]="icon.faXmark" class="fa-2xs"></fa-icon>
            </button>
          }
          <fa-icon [icon]="icon.faCheck"
                   [ngClass]="{'invisible': !f.password_current.valid}"
                   class="ms-2 text-green-700"></fa-icon>
        </div>
      </div>

      <!-- Password new -->
      <div class="mb-1">
        <label for="password" 
               class="form-label">
          <div class="flex items-center">
            <fa-icon [icon]="icon.faStar" 
                     class="me-1 text-red-500 text-[6px]"></fa-icon>
            <fa-icon [icon]="icon.faKey" class="me-1"></fa-icon>
            <span class="truncate capitalize-first">
              {{ lang.data['password_new'] || 'new password' }}:
            </span>
          </div>
        </label>
        <div class="relative flex items-center">
          <input #passwordInput
                 id="password"
                 [type]="f.showPassword.value ? 'text' : 'password'"
                 formControlName="password"
                 autocomplete="current-password"
                 spellcheck="false"
                 class="form-control"
                 placeholder="{{ lang.data['password_new'] || 'new password' }}"
                 maxlength="20" />
          @if (f.password.value) {
            <button type="button"
                    tabindex="-1"
                    (click)="clear('password')"
                    class="form-btn-clear right-9">
              <fa-icon [icon]="icon.faXmark" class="fa-2xs"></fa-icon>
            </button>
          }
          <fa-icon [icon]="icon.faCheck"
                   [ngClass]="{'invisible': !f.password.valid}"
                   class="ms-2 text-green-700"></fa-icon>
        </div>
      </div>

      <!-- Password rule -->
      <div class="mb-3 text-[10px] wrap-break-word">
        {{ lang.data['password_rule'] }}
      </div>

      <!-- Password confirm -->
      <div class="mb-1">
        <label for="password_confirm" 
               class="form-label">
          <div class="flex items-center">
            <fa-icon [icon]="icon.faStar" 
                     class="me-1 text-red-500 text-[6px]"></fa-icon>
            <fa-icon [icon]="icon.faUnlockKeyhole" class="me-1"></fa-icon>
            <span class="truncate capitalize-first">
              {{ lang.data['password_confirm'] || 'confirm password' }}:
            </span>
          </div>
        </label>
        <div class="relative flex items-center">
          <input #password_confirmInput
                 id="password_confirm"
                 [type]="f.showPassword.value ? 'text' : 'password'"
                 formControlName="password_confirm"
                 autocomplete="current-password"
                 spellcheck="false"
                 class="form-control"
                 placeholder="{{ lang.data['password_confirm'] || 'confirm password' }}"
                 maxlength="20" />
          @if (f.password_confirm.value) {
            <button type="button"
                    tabindex="-1"
                    (click)="clear('password_confirm')"
                    class="form-btn-clear right-9">
              <fa-icon [icon]="icon.faXmark" class="fa-2xs"></fa-icon>
            </button>
          }
          <fa-icon [icon]="icon.faCheck"
                   [ngClass]="{'invisible': !f.password_confirm.valid}"
                   class="ms-2 text-green-700"></fa-icon>
        </div>
      </div>
    
      <!-- Show password -->
      <div class="mb-6">
        <label for="showPassword"
               class="form-label form-label-inline">
          <input id="showPassword"
                 type="checkbox"
                 formControlName="showPassword"  
                 class="form-control-checkbox"
                 tabindex="-1">
          <div class="flex items-center">
            <fa-icon [icon]="icon.faEye" class="fa-sm mx-1"></fa-icon>
            <span class="text-sm truncate capitalize-first">
              {{ lang.data['password_show'] || 'show password' }}
            </span>
          </div>
        </label>
      </div>

      <!-- Test code -->
      <div class="mb-10">
        <div class="flex flex-row mb-0">
          <div class="text-sm font-medium w-auto">
            <div class="flex items-center
                        justify-start lg:justify-end">
              <fa-icon [icon]="icon.faHandPointRight" 
                       class="fa-2xl"></fa-icon>:
            </div>
          </div>
          <div class="">
            <div class="flex items-center text-xl ps-3
                        font-bold tracking-wider">
              {{ testCode }}
            </div>
          </div>
        </div>
        <div class="mb-1">
          <div class="flex flex-col mb-0">
            <label for="code"
                   class="form-label">
              <div class="flex items-center me-3 mb-1 
                          justify-start">
                <fa-icon [icon]="icon.faStar" 
                         class="me-1 text-red-500 text-[6px]"></fa-icon>
                <fa-icon [icon]="icon.faRobot" class="me-1"></fa-icon>
                <span class="truncate capitalize-first">
                  {{ lang.data['code'] || 'code' }}:
                </span>
              </div>
            </label>
            <div class="flex items-center w-full">
              <div class="flex items-center w-full">
                <div class="relative flex">
                  <input type="text"
                         id="code"
                         formControlName="code"
                         class="form-control form-control-code"
                         spellcheck="false"
                         autocomplete="off" 
                         maxlength="6">
                  @if (f.code.value) {
                    <button type="button"
                            tabindex="-1"
                            (click)="clear('code')"
                            class="form-btn-clear right-12">
                      <fa-icon [icon]="icon.faXmark" class="fa-2xs"></fa-icon>
                    </button>
                  }
                  <span class="form-btn-refresh-code"
                        (click)="getTestCode()">
                    <fa-icon [icon]="icon.faArrowsRotate" class="fa-xs"></fa-icon>
                  </span>
                </div>
                <fa-icon [icon]="icon.faCheck"
                         [ngClass]="{'invisible': !f.code.valid}"
                         class="ms-7 text-green-700"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="text-center">

        <!-- Submit -->
        <button type="submit"
                [disabled]="formGroup.invalid"
                class="form-btn-primary">
          <div class="flex items-center justify-center">
            <fa-icon [icon]="icon.faFloppyDisk" class="fa-lg me-1"></fa-icon>
            <span class="capitalize">
              {{ lang.data['save'] || 'save' }}
            </span>
          </div>
        </button>

        <!-- Cancel -->
        <button type="button"
                (click)="onCancel()"
                class="form-btn-secondary">
          <div class="flex items-center justify-center">
            <fa-icon [icon]="icon.faCircleXmark" class="fa-lg me-1"></fa-icon>
            <span class="capitalize">
              {{ lang.data['cancel'] || 'cancel' }}
            </span>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>
